# Country ,  ü•© , Population

Importaciones necesarias

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Importaci√≥n del dataset

In [2]:
data = pd.read_csv("./datafood.csv")

Eliminaci√≥n los espacios al final de cada t√≠tulo en las columnas

In [3]:
data.columns = data.columns.str.rstrip()

Comprobaci√≥n

In [4]:
data.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [5]:
data.shape

(21477, 63)

### LIMPIEZA DATASET üßπüßΩ

Debido a la multitud de datos, en este trabajo voy a centrarme √∫nicamente en la consumici√≥n de meat.

#### 1. Eliminaci√≥n de todas las filas que no se refieran a carne para comida.

In [6]:
data.drop(data.loc[data['Item']!="Meat"].index, inplace=True)

In [7]:
data.drop(data.loc[data['Element']!="Food"].index, inplace=True)

#### 2. Eliminaci√≥n de columnas que no son necesarias

In [8]:
data.drop(['latitude', 'longitude', 'Item Code', 'Element Code', 'Area Code', "Element Code", "Element"], axis=1, inplace=True, )

In [9]:
data.shape

(174, 57)

#### 3. Cambio del nombre de la columna Area. Ser√° de utilidad despu√©s.

In [10]:
data.rename(columns={'Area': 'Country'}, inplace = True)

#### 4. Agrupaci√≥n de las columnas en a√±os.

Vamos a seleccionar un periodo de 5 a√±os para que posteriormente nos coincida con el web scrabing.

Como todos los a√±os son int o podremos operar con ellos.

In [11]:
data["C1960"] = (data.Y1961 +  data.Y1962 +  data.Y1963 +  data.Y1964 +  data.Y1965)/5
data["C1965"] = (data.Y1966 +  data.Y1967 +  data.Y1968 +  data.Y1969 +  data.Y1970)/5
data["C1970"] = (data.Y1971 +  data.Y1972 +  data.Y1973 +  data.Y1974 +  data.Y1975)/5
data["C1975"] = (data.Y1976 +  data.Y1977 +  data.Y1978 +  data.Y1979 +  data.Y1980)/5
data["C1980"] = (data.Y1981 +  data.Y1972 +  data.Y1973 +  data.Y1974 +  data.Y1975)/5
data["C1985"] = (data.Y1986 +  data.Y1987 +  data.Y1988 +  data.Y1989 +  data.Y1990)/5
data["C1990"] = (data.Y1991 +  data.Y1992 +  data.Y1993 +  data.Y1994 +  data.Y1995)/5
data["C2000"] = (data.Y1996 +  data.Y1997 +  data.Y1998 +  data.Y1999 +  data.Y2000)/5
data["C2005"] = (data.Y2001 +  data.Y2002 +  data.Y2003 +  data.Y2004 +  data.Y2005)/5
data["C2010"] = (data.Y2006 +  data.Y2007 +  data.Y2008 +  data.Y2009 +  data.Y2010)/5
data["C2015"] = (data.Y2011 +  data.Y2012 +  data.Y2013)/3

In [12]:
data.drop(data.columns[3:57], axis=1, inplace=True)

#### 5. Cambio de √≠ndice (√∫til despu√©s)

Aquello que esta detr√°s del comodin puede ser util luego

In [13]:
n = range(1, 175)
n_list = list(n)
data["index"] = n_list
data.set_index("index", inplace=True)

#### 5. An√°lis data limpia

In [14]:
data

,Area Abbreviation,Country,Item,C1960,C1965,C1970,C1975,C1980,C1985,C1990,C2000,C2005,C2010,C2015
index,,,,,,,,,,,,,,
1,AFG,Afghanistan,Meat,138.8,190.4,187.2,231.8,198.2,217.4,262.4,340.6,311.2,319.0,377.666667
2,ALB,Albania,Meat,25.0,30.4,32.6,39.2,34.8,51.0,77.4,87.2,121.4,165.2,192.000000
3,DZA,Algeria,Meat,104.2,106.8,137.2,179.6,157.6,409.0,506.6,555.4,627.4,682.0,795.000000
4,AGO,Angola,Meat,37.6,53.4,69.8,95.0,79.0,143.8,140.2,188.2,306.8,470.4,715.000000
5,ATG,Antigua and Barbuda,Meat,1.0,2.0,2.0,1.8,2.2,5.0,5.0,5.6,5.6,7.0,7.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,VEN,Venezuela (Bolivarian Republic of),Meat,238.4,310.8,432.6,628.6,511.8,774.2,847.8,1077.2,1368.8,1948.4,2144.000000
171,VNM,Viet Nam,Meat,399.2,442.4,445.6,452.2,482.2,995.0,1222.0,1667.0,2494.4,3995.8,5079.000000
172,YEM,Yemen,Meat,49.8,45.2,46.4,91.2,65.2,150.0,151.4,190.6,307.6,382.6,471.666667
173,ZMB,Zambia,Meat,50.4,64.6,73.2,80.6,76.4,92.4,117.2,129.6,149.4,164.2,186.666667
174,ZWE,Zimbabwe,Meat,58.6,55.4,89.0,83.4,93.0,116.6,116.2,139.2,212.6,248.0,271.666667

In [15]:
data.dtypes

Area Abbreviation     object
Country               object
Item                  object
C1960                float64
C1965                float64
C1970                float64
C1975                float64
C1980                float64
C1985                float64
C1990                float64
C2000                float64
C2005                float64
C2010                float64
C2015                float64
dtype: object

In [16]:
data.isnull().sum(axis = 0)

Area Abbreviation     0
Country               0
Item                  0
C1960                28
C1965                28
C1970                28
C1975                28
C1980                28
C1985                28
C1990                27
C2000                 5
C2005                 3
C2010                 1
C2015                 1
dtype: int64

### INSERTACI√ìN WEB SCRAPING üë©‚Äçüíª

https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population

In [17]:
import requests
from bs4 import BeautifulSoup

In [18]:
url_POB = "https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population"
html_POB = requests.get(url_POB)

In [19]:
soup = BeautifulSoup(html_POB.content, "html.parser")

In [20]:
tablas = soup.find_all("table")
len(tablas)

4

En nuestro caso al haber solo 4 tablas, es bastante f√°cil saber cuales son las que nos interesan.
Como queremos obtener la informaci√≥n de la tabla 0 y de la tabla 1, tendremos que hacer dos pasos que ser√°n iguales pero una paara cada tabla.

#### Tabla[0]

Nos permite obtener informacion de la poblaci√≥n mundial entre los a√±os 1960 y 1980.

In [21]:
p68 = tablas[0]

In [22]:
p68body = p68.find("tbody")

In [23]:
#p68body

In [24]:
trs = p68body.find_all("tr")

In [25]:
tr = trs[1]

In [26]:
colsp68 = tr.find_all("td")

In [27]:
colsp68[4].text.strip()

'9,830'

In [28]:
def get_row_info_p68(row):
    info = dict()
    
    colsp68 = row.find_all("td")
    
    info["Country1"] = colsp68[0].text.strip() 
    info["POB1960"] = colsp68[4].text.strip()
    info["POB1965"] = colsp68[6].text.strip()
    info["POB1970"] = colsp68[8].text.strip()
    info["POB1975"] = colsp68[10].text.strip()
    info["POB1980"] = colsp68[12].text.strip()
    
    return info

In [29]:
for i, row in enumerate(trs):
    try:
        get_row_info_p68(row)
    except:
        print(i)

0

In [30]:
data_POB68 = pd.DataFrame([get_row_info_p68(row) for row in trs[1:]])

Cambio de √≠ndice, (√∫til despu√©s)

In [31]:
n2 = range(1, 229)
n2_list = list(n2)
data_POB68["index2"] = n2_list
data_POB68.set_index("index2", inplace=True)

In [32]:
data_POB68

              Country1    POB1960    POB1965    POB1970    POB1975    POB1980
index2
1          Afghanistan      9,830     10,998     12,431     14,133     15,045
2              Albania      1,624      1,884      2,157      2,402      2,672
3              Algeria     10,910     11,964     13,932     16,141     18,807
4       American Samoa         21         25         28         30         33
5              Andorra          9         14         20         27         34
...                ...        ...        ...        ...        ...        ...
224     Western Sahara         28         50         90         73        125
225              Yemen      5,872      6,511      7,099      7,935      9,133
226             Zambia      3,255      3,695      4,241      4,849      5,541
227           Zimbabwe      4,011      4,686      5,515      6,342      7,170
228              World  3,043,002  3,350,426  3,712,698  4,089,084  4,451,363

[228 rows x 6 columns]

#### Tabla[1]

Nos permite obtener informacion de la poblaci√≥n mundial entre los a√±os 1980 y 2015. 


üëÅÔ∏è El dataset de kagle solo nos da informaci√≥n hasta 2013.

In [33]:
p85 = tablas[1]

In [34]:
p85body = p85.find("tbody")

In [35]:
#p85body

In [36]:
trs = p85body.find_all("tr")

In [37]:
tr = trs[1]

In [38]:
colsp85 = tr.find_all("td")

In [39]:
colsp85[1].text.strip()

'13,120'

In [40]:
def get_row_info_p85(row):
    info = dict()
    
    colsp85 = row.find_all("td")
    
    info["Country2"] = colsp85[0].text.strip() 
    info["POB1985"] = colsp85[1].text.strip()
    info["POB1990"] = colsp85[3].text.strip()
    info["POB1995"] = colsp85[5].text.strip()
    info["POB2000"] = colsp85[7].text.strip()
    info["POB2005"] = colsp85[9].text.strip()
    info["POB2010"] = colsp85[11].text.strip()
    info["POB2015"] = colsp85[13].text.strip()
    
    return info

In [41]:
for i, row in enumerate(trs):
    try:
        get_row_info_p85(row)
    except:
        print(i)

0

In [42]:
data_POB85 = pd.DataFrame([get_row_info_p85(row) for row in trs[1:]])

Cambio de √≠ndice, (√∫til despu√©s)

In [43]:
n2 = range(1, 229)
n2_list = list(n2)
data_POB85["index2"] = n2_list
data_POB85.set_index("index2", inplace=True)

In [44]:
data_POB85

,Country2,POB1985,POB1990,POB1995,POB2000,POB2005,POB2010,POB2015
index2,,,,,,,,
1,Afghanistan,"13,120","13,569","19,446","22,462","26,335","29,121","32,565"
2,Albania,"2,957","3,245","3,159","3,159","3,025","2,987","3,030"
3,Algeria,"22,009","25,191","28,322","30,639","32,918","35,950","39,543"
4,American Samoa,39,48,54,58,57,56,55
5,Andorra,45,53,64,66,77,85,86
...,...,...,...,...,...,...,...,...
224,Western Sahara,180,218,264,337,416,492,571
225,Yemen,"10,540","12,417","14,832","17,236","20,003","23,210","26,738"
226,Zambia,"6,536","7,604","8,691","9,984","11,373","13,042","15,067"
227,Zimbabwe,"8,561","10,157","11,160","11,821","11,640","11,652","14,230"
228,World,"4,856,463","5,288,956","5,699,203","6,088,572","6,473,045","6,866,333","7,256,491"

### Uni√≥n data sets obtenidos üîó

Queremos unir tres Datasets.

#### Paso 1 : Uni√≥n data_POB85 y data_POB68

A√∫n as√≠, antes de hacer este paso debemos entender la singularidad del paso 2.

#### Paso 2: Uni√≥n de data y de data_POB

Para ello es importante considerar que todos ellos tienen la columna de country, pero que el data_original tiene menos paises que la data_POB68 y la data_POB85

Gracias a ello averiguamos que paises no coincden. (Lo he demostrado antes, pero al unir data_POB68 y data_POB85, no me deja)

Que Vietnam tenga un valor nulo, nos indica que a pesar de que ambas tablas se refieran a todos los pa√≠ses del mundo en orden alfabetico, ya que una dataframe lo denomina Vietnam y otro lo denomina Viet Nam. Para solucionarlos envez de referirnos al nombre del pa√≠s nos referiremos a su 	"Alpha-3 code".

Esto no presenta un problema en el caso de de data pero si en data_POB. A continuaci√≥n realizaremos los pasos para solucioanrlo.

#### Cambio indice data_POB68 y data_POB85

In [45]:
import country_converter as coco

Gracias a esta librer√≠a la transformaci√≥n ser√° m√°s.

Lo primero realizamos una lista con todos los nombres de los pa√≠ses.

In [46]:
name_countries = data_POB68['Country1'].tolist()

In [47]:

iso3_codes = coco.convert(names=name_countries, to='ISO3')
print(iso3_codes)

World not found in regex

['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'COL', 'COM', 'COK', 'CRI', 'HRV', 'CUB', 'CUW', 'CYP', 'CZE', 'COD', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FRO', 'FSM', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GUM', 'GTM', 'GGY', 'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'CIV', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ', 'KEN', 'KIR', 'XKX', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'MDA', 'MCO', 'MNG', 'MNE', 'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER', 'NGA', 'PRK', 'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'COG', 'ROU', 'RUS', 'RWA', 'BLM', 'SHN', 'KNA', 'LCA', 'MAF', 'SPM', 'VCT', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'KOR', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'VIR', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'WLF', 'ESH', 'YEM', 'ZMB', 'ZWE', 'not found']

A cointinuaci√≥n cambiamos esta lista por la lista que hace referencia a countries tanto en el data_POB68 como en data_POB85

#### data_POB68

In [48]:
data_POB68["Area Abbreviation1"] = iso3_codes

In [49]:
data_POB68

,Country1,POB1960,POB1965,POB1970,POB1975,POB1980,Area Abbreviation1
index2,,,,,,,
1,Afghanistan,"9,830","10,998","12,431","14,133","15,045",AFG
2,Albania,"1,624","1,884","2,157","2,402","2,672",ALB
3,Algeria,"10,910","11,964","13,932","16,141","18,807",DZA
4,American Samoa,21,25,28,30,33,ASM
5,Andorra,9,14,20,27,34,AND
...,...,...,...,...,...,...,...
224,Western Sahara,28,50,90,73,125,ESH
225,Yemen,"5,872","6,511","7,099","7,935","9,133",YEM
226,Zambia,"3,255","3,695","4,241","4,849","5,541",ZMB
227,Zimbabwe,"4,011","4,686","5,515","6,342","7,170",ZWE
228,World,"3,043,002","3,350,426","3,712,698","4,089,084","4,451,363",not found

#### data_POB85

In [50]:
data_POB85["Area Abbreviation2"] = iso3_codes

In [51]:
data_POB85

,Country2,POB1985,POB1990,POB1995,POB2000,POB2005,POB2010,POB2015,Area Abbreviation2
index2,,,,,,,,,
1,Afghanistan,"13,120","13,569","19,446","22,462","26,335","29,121","32,565",AFG
2,Albania,"2,957","3,245","3,159","3,159","3,025","2,987","3,030",ALB
3,Algeria,"22,009","25,191","28,322","30,639","32,918","35,950","39,543",DZA
4,American Samoa,39,48,54,58,57,56,55,ASM
5,Andorra,45,53,64,66,77,85,86,AND
...,...,...,...,...,...,...,...,...,...
224,Western Sahara,180,218,264,337,416,492,571,ESH
225,Yemen,"10,540","12,417","14,832","17,236","20,003","23,210","26,738",YEM
226,Zambia,"6,536","7,604","8,691","9,984","11,373","13,042","15,067",ZMB
227,Zimbabwe,"8,561","10,157","11,160","11,821","11,640","11,652","14,230",ZWE
228,World,"4,856,463","5,288,956","5,699,203","6,088,572","6,473,045","6,866,333","7,256,491",not found

A continuaci√≥n eliminaremos las columnas que se refieren a los nombres de los paises en ambas tablas y convertiremos el Area Abbreviation como √≠ndice.
Esto √∫ltimo nos servir√° para concatenar las tablas.

In [52]:
data_POB68.drop(["Country1"], axis=1, inplace=True)
data_POB85.drop(["Country2"], axis=1, inplace=True)

In [53]:
#data_POB68.set_index("Area Abbreviation", inplace=True)
#data_POB85.set_index("Area Abbreviation", inplace=True)

In [54]:
data_POB = pd.concat([data_POB68, data_POB85], axis=1)

In [55]:
data_POB

,POB1960,POB1965,POB1970,POB1975,POB1980,Area Abbreviation1,POB1985,POB1990,POB1995,POB2000,POB2005,POB2010,POB2015,Area Abbreviation2
index2,,,,,,,,,,,,,,
1,"9,830","10,998","12,431","14,133","15,045",AFG,"13,120","13,569","19,446","22,462","26,335","29,121","32,565",AFG
2,"1,624","1,884","2,157","2,402","2,672",ALB,"2,957","3,245","3,159","3,159","3,025","2,987","3,030",ALB
3,"10,910","11,964","13,932","16,141","18,807",DZA,"22,009","25,191","28,322","30,639","32,918","35,950","39,543",DZA
4,21,25,28,30,33,ASM,39,48,54,58,57,56,55,ASM
5,9,14,20,27,34,AND,45,53,64,66,77,85,86,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,28,50,90,73,125,ESH,180,218,264,337,416,492,571,ESH
225,"5,872","6,511","7,099","7,935","9,133",YEM,"10,540","12,417","14,832","17,236","20,003","23,210","26,738",YEM
226,"3,255","3,695","4,241","4,849","5,541",ZMB,"6,536","7,604","8,691","9,984","11,373","13,042","15,067",ZMB
227,"4,011","4,686","5,515","6,342","7,170",ZWE,"8,561","10,157","11,160","11,821","11,640","11,652","14,230",ZWE
228,"3,043,002","3,350,426","3,712,698","4,089,084","4,451,363",not found,"4,856,463","5,288,956","5,699,203","6,088,572","6,473,045","6,866,333","7,256,491",not found

#### Hacemos Paso 2 : Uni√≥n data_POB y data

Antes de la union debemos considerar que el Area Abbreviation de data_POB(usamos solo data_POB68, porque data_POB68 y data_POB85 tienen el Area Abbreviation repetido) y data no es el mismo. Por ello extraemos los Area Abbreviation cada columna, y aquellos correspondientes al data_POB que no existan en data ser√°n eliminados, ya que la ausencia de informaci√≥n hara su estudio irrelevante.

In [56]:
datat = pd.concat([data["Area Abbreviation"], data_POB68["Area Abbreviation1"]], axis=1)

In [57]:
#datat = pd.concat([data, data_POB68], axis=1)

Eliminaci√≥n: Crhistian me ha ayudado ya que el hab√≠a tenido el mismo problema

#### data_POB68

In [58]:
for i, country in data.iterrows():
    print(i)
    
    data_POB68.loc[data_POB68["Area Abbreviation1"] == country["Area Abbreviation"], "comp"] = True

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174

In [59]:
data_POB68.drop(data_POB68.loc[data_POB68['comp']!=True].index, inplace=True)

In [60]:
data_POB68.drop(['comp'], axis=1, inplace=True)

In [61]:
data_POB68

       POB1960 POB1965 POB1970 POB1975 POB1980 Area Abbreviation1
index2
1        9,830  10,998  12,431  14,133  15,045                AFG
2        1,624   1,884   2,157   2,402   2,672                ALB
3       10,910  11,964  13,932  16,141  18,807                DZA
6        4,798   5,135   5,606   6,051   7,206                AGO
8           55      60      66      69      69                ATG
...        ...     ...     ...     ...     ...                ...
221      7,557   9,068  10,759  12,675  14,768                VEN
222     31,657  37,259  42,577  48,076  53,716                VNM
225      5,872   6,511   7,099   7,935   9,133                YEM
226      3,255   3,695   4,241   4,849   5,541                ZMB
227      4,011   4,686   5,515   6,342   7,170                ZWE

[169 rows x 6 columns]

#### data_POB85

In [62]:
for i, country in data.iterrows():
    print(i)
    
    data_POB85.loc[data_POB85["Area Abbreviation2"] == country["Area Abbreviation"], "comp"] = True

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174

In [63]:
data_POB85.drop(data_POB85.loc[data_POB85['comp']!=True].index, inplace=True)

In [64]:
data_POB85.drop(['comp'], axis=1, inplace=True)

In [65]:
data_POB85

,POB1985,POB1990,POB1995,POB2000,POB2005,POB2010,POB2015,Area Abbreviation2
index2,,,,,,,,
1,"13,120","13,569","19,446","22,462","26,335","29,121","32,565",AFG
2,"2,957","3,245","3,159","3,159","3,025","2,987","3,030",ALB
3,"22,009","25,191","28,322","30,639","32,918","35,950","39,543",DZA
6,"8,390","9,486","11,000","12,683","14,770","17,043","19,626",AGO
8,65,65,69,76,82,87,93,ATG
...,...,...,...,...,...,...,...,...
221,"16,998","19,326","21,550","23,493","25,270","27,224","29,276",VEN
222,"60,094","67,259","73,784","79,178","84,425","89,572","94,349",VNM
225,"10,540","12,417","14,832","17,236","20,003","23,210","26,738",YEM
226,"6,536","7,604","8,691","9,984","11,373","13,042","15,067",ZMB
227,"8,561","10,157","11,160","11,821","11,640","11,652","14,230",ZWE

#### Uniones con concat

Para hacer concat, es necesario que los √≠ndices coincidan. 
Gracias a los pasos anteriores, para ello solo es necesario que cambiemos los indices por los correspondientes Area Abbreviation de cada dataframe.

Set index:

In [66]:
data.set_index("Area Abbreviation", inplace=True)
data_POB68.set_index("Area Abbreviation1", inplace=True)
data_POB85.set_index("Area Abbreviation2", inplace=True)

Concatenamos

In [67]:
data_POB = pd.concat([data_POB68, data_POB85], axis=1)

In [68]:
#data_total = pd.concat([data, data_POB], axis=1)

Como el data de kagle es hasta 2013 decidimos borrar todos aquellos datos posteriores a 2010.

In [69]:
data.drop(['C2015'], axis=1, inplace=True)
data_POB.drop(['POB2015'], axis=1, inplace=True)

In [70]:
data_POB

,POB1960,POB1965,POB1970,POB1975,POB1980,POB1985,POB1990,POB1995,POB2000,POB2005,POB2010
AFG,"9,830","10,998","12,431","14,133","15,045","13,120","13,569","19,446","22,462","26,335","29,121"
ALB,"1,624","1,884","2,157","2,402","2,672","2,957","3,245","3,159","3,159","3,025","2,987"
DZA,"10,910","11,964","13,932","16,141","18,807","22,009","25,191","28,322","30,639","32,918","35,950"
AGO,"4,798","5,135","5,606","6,051","7,206","8,390","9,486","11,000","12,683","14,770","17,043"
ATG,55,60,66,69,69,65,65,69,76,82,87
...,...,...,...,...,...,...,...,...,...,...,...
VEN,"7,557","9,068","10,759","12,675","14,768","16,998","19,326","21,550","23,493","25,270","27,224"
VNM,"31,657","37,259","42,577","48,076","53,716","60,094","67,259","73,784","79,178","84,425","89,572"
YEM,"5,872","6,511","7,099","7,935","9,133","10,540","12,417","14,832","17,236","20,003","23,210"
ZMB,"3,255","3,695","4,241","4,849","5,541","6,536","7,604","8,691","9,984","11,373","13,042"
ZWE,"4,011","4,686","5,515","6,342","7,170","8,561","10,157","11,160","11,821","11,640","11,652"

## CONCLUSIONES üìä

In [71]:
# Pensamientos : Hacer la media de cada a√±o tahto en consumicion como en poblaci√≥n, y crear una columna con la media de conusmici√≥n y con la media de poblaci√≥n.

In [73]:
data_POB.POB1985.describe()

count       169
unique      168
top       6,379
freq          2
Name: POB1985, dtype: object